body{
    background-color:lightblue;
    
    

}

#container{
    width: 90%;
    max-width: 1200px;
    background-color: green;
    margin: auto;
    margin-top: 50px;
}

header{
    min-height: 120px;
    background-color:hotpink;
}

header h1{
    text-align: center;
    }

main{
    background-color:aliceblue;
    padding: 1rem;
    line-height: 1.7;
    color: #333;
    min-height: 300px;
}

footer{
    min-height: 120px;
    background-color:sienna;
    padding: 1rem;
}

nav{
    background-color: aliceblue;
    padding: 1rem;
    margin: auto;
    width: 50%;
    text-align: center;
}