---
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "Gallery";
---

<BaseLayout title = {title}> 

<p>Gallery - Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque praesentium eos quasi dignissimos est, modi nisi architecto. Ducimus saepe iste et ut quod numquam porro, officiis, laudantium praesentium tempora magni.</p>

</BaseLayout>